.analyze-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292929;
  color: #e4e2dd;
  height: calc(100vh - 80px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.analyze-heading {
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  color: #b9b8b8;
  text-align: center;
  transform: translateX(-50%);
  animation: fadeInSlideDown 1.5s ease-out forwards;
  opacity: 0;
  position: absolute;
  top: 200px;
}

.input-field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f6f6f6;
  color: #292929;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  text-align: center;
}

.error-message {
  color: rgb(245, 70, 70);
  font-size: 14px;
  text-align: center;
  min-height: 20px;
  visibility: hidden;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: 231px;
  transform: translate(-50%, -50%);
}

.error-message.visible {
  visibility: visible;
  position: absolute;
  margin-top: 1.5px;
}

.submit-button {
  position: fixed;
  background-color: #d1cece;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  width: 105px;
  position: absolute;
  top: 380px;
  margin-top: 20px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
